
  .klevis-select-list--div{
    display: flex;
    border: none;
    border-bottom: 1px solid grey;
    transition:0.7s ease all; 
    -moz-transition:0.7s ease all; 
    -webkit-transition:0.7s ease all;
    cursor: pointer;
    background: white;
    position: relative;
    z-index: 100;
  }
  
  .klevis-select-list--item{
    width: 98%;
    position: absolute;
    overflow: hidden;
  }

  .klevis-select-list--menu {
    background-color: white;
    border: 1px solid #f1f1f191;
    transition: .3s ease-in-out;
    transform-origin :0 0;
    position: absolute;
    z-index: 101;
  }

  .klevis-select-list--menu span {
    color: grey;
    padding: 6px;
    text-decoration: none;
    display: block;
  }

  .klevis-select-list--menu span:hover {
    background: #f1f1f191;
    cursor: pointer;
  }

  .klevis-select-list--menu-scroll{
    max-height: 200px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .klevis-select-list--selected{
    background: #c3c3c3;
    color: white !important;
  }

  .klevis-select-list--close{
    transform: scaleY(0);
    opacity: 0;
  }
  
  .klevis-select-list--open{
    opacity: 1;
    transform: scaleY(1);
  }


  .klevis-select-list-label{
      cursor: pointer;
      color:grey; 
      font-weight:normal;
      transition:0.7s ease all; 
      -moz-transition:0.7s ease all; 
      -webkit-transition:0.7s ease all;
  }
  .klevis-select-list{
    padding: 2px;
    display: block;
    border: none;
    flex-grow: 1;
    transition:0.7s ease all; 
    -moz-transition:0.7s ease all; 
    -webkit-transition:0.7s ease all;
    position: relative;
  } 

  .klevis-select-list--div:hover{ 
    outline:none;
    background: #f1f1f191;
  }

  
  .klevis-select-list-image-content{
    float: right;
  }
  .klevis-select-list-image-arrow{
    width: 20px;
    height: 20px;    
    position: relative;
    top: 1px;
  }
  .klevis-select-list-image-control{    
    width: 20px;
    height: 20px;    
    position: relative;
    top: 1px;


  }

  .klevis-select-list-read{
    -webkit-animation:klevis-select-list-spin 1s linear infinite;
    -moz-animation:klevis-select-list-spin 1s linear infinite;
    animation:klevis-select-list-spin 1s linear infinite;
  }
  
  @-moz-keyframes klevis-select-list-spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes klevis-select-list-spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes klevis-select-list-spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .klevis-select-list-valid-success{
    border-color: green;
  }

  .klevis-select-list-valid{
    border-color: red;
  }

  .klevis-select-list-valid{
    transition:0.7s ease all; 
    -moz-transition:0.7s ease all; 
    -webkit-transition:0.7s ease all;
  }  
  .klevis-select-list-valid-text{
    color: #ff3e3e;
    font-size: 13px;
  }
